version: '2'
services:
  postgres:
    image: postgres:9.6.15
    environment:
      - POSTGRES_PASSWORD="{{ postgres_password }}"
      - POSTGRES_USER="{{ postgres_user }}"
    restart: always
    volumes:
      - "{{ postgres_data }}":/var/lib/postgresql/data
    ports:
      - "5432:5432/tcp"
    networks:
      - netconfluence

  confluence:
    build: ./build_confluence
    image: confluence-server-local:6.14.2-alpine-adoptopenjdk8
    restart: always
    volumes:
      - "{{ confluence_data }}":/var/atlassian/application-data/confluence
    ports:
      - "8090:8090/tcp"
      - "8091:8091/tcp"
    links:
      - postgres
    networks:
      - netconfluence

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.4.2
    environment:
      ES_JAVA_OPTS: -Xms1024m -Xmx1024m
    restart: always
    volumes:
    - "{{ elasticsearch_data }}":/usr/share/elasticsearch/data
    networks:
      - netconfluence

  kibana:
    image: docker.elastic.co/kibana/kibana-oss:6.4.2
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
    restart: always
    links:
      - elasticsearch
    networks:
      - netconfluence

  logstash:
    build: ./build_logstash
    image: logstash-oss-local:6.2.4
    restart: always
    volumes:
      - "{{ confluence_data }}":/mnt:ro
    links:
      - elasticsearch
    networks:
      - netconfluence

networks:
  netconfluence:
    driver: bridge